* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: cornsilk;
}

#accordion {
  margin: 200px auto;
  width: 600px;
  max-width: 100%;
  background-color: white;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.card-panel {
  height: 100%;
}
.card-header {
  padding: 1rem;
  cursor: pointer;
}
.card-body {
  padding: 0 1rem 1rem;
}
.card:not(.show) .card-panel:not(.collapsing) {
  display: none;
}
.card-panel.collapsing {
  position: relative;
  overflow: hidden;
  transition: height 3s ease;
  height: 0;
}
