* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  margin-top: 0;
  margin-bottom: 30px;
}

.container {
  border-radius: 0.35rem;
  width: 600px;
  background-color: white;
  margin: auto auto;
  padding: 60px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.input-container {
  position: relative;
}

input {
  height: 4rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid black;
}

input:valid + label {
  top: 0;
}

input:focus {
  border-color: darkcyan;
  outline-color: darkcyan;
}
input:focus + label {
  top: 0;
  color: darkcyan;
}

label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 0.25rem;
  transition: top 0.3s ease-in-out;
  font-size: 1rem;
}
#show-pw-toggler {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.vld-pw-tags {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.vld-tag {
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 0.75rem;
  background-color: paleturquoise;
}

.vld-tag.valid {
  background-color: darkcyan;
  color: white;
}
